<%- include('./partials/header.ejs') %>
<div class="container">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img
        src="/images/hero.jpg"
        class="d-block mx-lg-auto img-fluid"
        alt="Bootstrap Themes"
        width="700"
        height="500"
        loading="lazy"
      />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">
        Build Your Subscription-Based Creator Community Platform
      </h1>
      <p class="lead">
        GoFans is a ready-to-use community marketplace script that lets you
        create community platforms. You can build a community marketplace for
        creators, influencers, and fans. It is a subscription-based platform
        where creators can sell their content and fans can subscribe to their
        favorite creators.
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a
          type="button"
          class="btn btn-primary btn-lg px-4 me-md-2"
          href="/login"
        >
          Log In
        </a>
        <a
          type="button"
          class="btn btn-outline-secondary btn-lg px-4"
          href="/signup"
        >
          Sign Up
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container py-5">
  <h2>Latest featured posts</h2>
</div>
<%-include('./partials/footer.ejs') %>
