<% if (messages.error) { %>
    <%= messages.error %>
  <% } %>
<!-- <form action="/login" method="POST">
    <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Login</button>
    
</form>
<a href="/register">Register</a> -->

<link rel="stylesheet" href="/views/style.css" type="text/css">

<div class="container">
  <div class="title">Login</div>
  <div class="content">
    <form action="/login" method="POST">
      <div class="user-details">
        <div class="input-box">
          <span class="details">Email</span>
          <input type="email" id="email" name="email" placeholder="Enter your email" required>
        </div>
        <div class="input-box">
          <span class="details">Password</span>
          <input type="password" id="password" name="password" placeholder="Enter your password" required>
        </div>
      </div>
      <div class="button">
        <!-- <input type="submit" value="Register"> -->
        <button type="submit">Login</button>
        <a href="/register">Register</a>
      </div>
    </form>
  </div>
</div>
