<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <a class="btn btn-secondary me-md-2" type="button" href="/login"> Login </a>
  <a class="btn btn-primary" type="button" href="/signup">Signup</a>
</div>
